@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'), url(../img/fonts/ubuntu-condensed.woff) format('woff');
}

ul.chzn-choices{
	height: 28px !important;
	margin-top: 20px;
	padding: 3px;
	position: relative;
	top: 6px;
	border-radius: 5px;
}

ul.chzn-choices input{
	width: 1px !important;
	height: 26px !important;
}

.chzn-search input{
	width: 331px !important;
	height: 24px !important;
}

.header{
	background: url('../img/header.jpg');
	float: left;
	width: 100%;
	height: 106px;
}

.header-left{
	background: url('../img/header-left.jpg');
	background-repeat: no-repeat;
	height: 106px;
	width: 215px;
	float: left;
}

.header-right{
	text-align: right;
	margin-right: 40px;
	margin-top: 25px;
}

.fakecontainer{
	background-color: #333;
	height: 250px;
	padding: 20px;
	display: none;
}

th{
	background-color: #808080 !important;
	color: #EEE;
}

.table {
	border: 1px solid #ddd;
}

.table tr:nth-child(odd){
	background-color: #f7f7f7;
}

body{
	background: url('../img/sidebar.jpg');
	background-repeat: repeat-y;
	font-family: 'Ubuntu Condensed', sans-serif;
	/*letter-spacing: 1px;*/
}

input[type="text"]{
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 0px 10px 0px 10px !important;
	width: 340px;
	height: 42px;
}

textarea{
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 10px 10px 10px 10px !important;
	width: 340px !important;
	min-height: 100px;
}

select{
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 13px !important;
	height: 47px !important;
	width: 363px !important;
}

input[type="submit"]{
 	font-family: 'Ubuntu Condensed', sans-serif;
 	width: 100% !important;
 }

label{
	display: inline-block;
	margin-bottom: 5px;
	width: 230px;
	border-bottom: 1px dotted #ccc;
}

form{
	margin: 0 0 20px;
	padding: 20px;
	border: 1px dotted #ccc;
	border-radius: 10px;
	background: #fafafa;
	width: 595px;
}

.fullcontent{
	clear: both;
	width: 100%;
}

.sidebar{
	width: 215px;
	float: left;
}

.sidebar a{
	background-color: #BBB;
	color: #333;
	text-align: left;
}

.content{
	width: 75%;
	float: left;
}

.sidebar-size{
	width: 155px;
	padding: 25px;
}

select{
	margin-bottom: 24px !important;
}
